name: deploy
concurrency: deploy

on:
  push:
    branches:
      - master
  #schedule:
    # * is a special character in YAML so you have to quote this string
    #- cron:  '15 * * * *'

jobs:
  deploy:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
        with:
            fetch-depth: 0
      - id: deploy
        name: Deploy to dokku
        uses: idoberko2/dokku-deploy-github-action@v1
        with:
            ssh-private-key: ${{ secrets.DOKKU_PRIVATE_KEY }}
            dokku-host: ${{ secrets.DOKKU_HOST }}
            app-name: '2038-news'
